/* Style pour le conteneur principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% de la hauteur de la vue */
    margin: 0;
}

/* Style pour le conteneur du panier */
#cartItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Style pour chaque produit dans le panier */
.annonce {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Style pour l'image du tableau */
.image-tableau img {
    max-width: 100%;
    height: auto;
}

/* Style pour les détails du produit */
.details {
    margin-top: 10px;
    text-align: center; /* Centrer le texte */
}

/* Style pour le titre du produit */
.titre {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Style pour le prix du produit */
.prix {
    font-size: 16px;
 
    color: #0070ba; /* Couleur du prix de eBay */
    margin-bottom: 10px;
}

/* Style pour le bouton de suppression */
.details button {
    background-color: #0070ba; /* Couleur du bouton de eBay */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Style pour le bouton de suppression au survol */
.details button:hover {
    background-color: #00578e; /* Couleur au survol de eBay */
}

