/* Style pour le conteneur principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    height: 100vh; /* Pleine hauteur de la fenêtre */
}

/* Style pour le conteneur du panier */
#cartItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Style pour chaque produit dans le panier */
.annonce {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Style pour l'image du tableau */
.image-tableau img {
    max-width: 100%;
    height: auto;
}

/* Style pour les détails du produit */
.details {
    margin-top: 10px;
    text-align: center; /* Centrer le texte */
}

/* Style pour le titre du produit */
.titre {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Style pour le prix du produit */
.prix {
    font-size: 16px;
 
    color: #0070ba; /* Couleur du prix de eBay */
    margin-bottom: 10px;
}

/* Style pour le bouton de suppression */
.details button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Style pour le bouton de suppression au survol */
.details button:hover {
    background-color: #00578e; /* Couleur au survol de eBay */
}

footer {

    padding-top: 20px;
    text-align: center;
}


  .container {
    width: 80%; /* Largeur du conteneur */
    max-width: 400px; /* Largeur maximale */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
  h1 {
    text-align: center; /* Centrer le titre */
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block; /* Afficher les labels sur une nouvelle ligne */
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    color: #000000;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  /* Autres styles CSS */

.apple-pay-logo {
    width: 200px; /* Taille du logo */
    vertical-align: middle; /* Alignement vertical au centre */
    margin-right: 5px; /* Espacement entre le logo et le texte */
  }