
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #000;
}

.bouttondarkmode{
    padding-top: 20px;
}


.btn-dark{
    color:black;
    background-color: #fff;
    margin-left: 336px;
    cursor: pointer;
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2px;
    background-color: #fff;
    color: #000000;
  }
  
 /* .dark-mode .container {
    background-color: #000000;
    color: #fff;
    font-size: 15px;
  }
  .dark-mode ul li a {
    color: white;
  }*/

.colored1 {
    color: red; /* Changer la couleur à votre préférence */
  }
  .colored2 {
    color: blue; /* Changer la couleur à votre préférence */
  }
  .colored3 {
    color: green; /* Changer la couleur à votre préférence */
  }
  .colored4 {
    color: orange; /* Changer la couleur à votre préférence */
  }
  .colored5 {
    color: purple; /* Changer la couleur à votre préférence */
  }
  
main {
    display: flex;
    justify-content: center;
    padding: 20px;

}
header {
    color: white;
    padding: 20px;
    text-align: center;
}
.titre{
    color: white; /* Couleur du texte */
  text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 0.7),
    1px -1px 0 rgba(0, 0, 0, 0.7),
    -1px 1px 0 rgba(0, 0, 0, 0.7),
    1px 1px 0 rgba(0, 0, 0, 0.7); /* Contour noir */
  font-size: 36px; /* Taille du texte */
  letter-spacing: 2px; /* Espacement entre les lettres */
  padding: 10px; /* Espace intérieur */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
   background-color: aqua;
   text-transform:lowercase;

}
.panier-icon {
  font-size: 24px;
  color:pink;
}

@media screen and (max-width: 768px) {
.panier-icon{
  display: flex;
  justify-content: center;
}
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {

    padding: 20px;
    text-align: center;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.images img {
    width: 25%; /* Pour diviser l'espace en 4 colonnes */
    box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur */
    padding: 5px; /* Ajoute de l'espace entre les images */
}

.images {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; /* ajustez selon vos besoins */
    display: flex;
    flex-wrap: wrap;
}


.images a {
    position: relative;
    display: block;
    width: calc(25% - 10px); /* Pour diviser l'espace en 4 colonnes avec un espacement de 5px */
    margin: 5px; /* Ajoute de l'espace entre les images */
    transition: filter 0.3s, transform 0.3s;
    overflow: hidden;
}

.images a:hover img {
    filter: blur(3px); /* Appliquer un flou sur l'image au survol */
    transform: scale(1.1); /* Faire grossir un peu l'image au survol */
    z-index: 1; /* Assurez-vous que l'image survolée est au-dessus des autres */
}

.images a::after {
    content: attr(alt); /* Afficher le texte de l'attribut alt */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Couleur du texte */
    opacity: 0; /* Cacher le texte par défaut */
    transition: opacity 0.3s;
}

.images a:hover::after {
    opacity: 1; /* Afficher le texte au survol */
}

.images img {
    width: 100%;
    height: auto;
    transition: filter 0.3s;
}

